{% if user %}
    <h2>Manage your pets</h2>
    <a href='#' class="btn btn-primary oc-icon-plus">+ New Pet</a><br><br>
    {% if pets %}
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Species</th>
                <th>Breed</th>
                <th>Brithday</th>
                <th></th>
            </tr>
                {% for pet in pets %}
                <tr>
                <td>{{ pet.name }}</td>
                <td>{{ pet.species }}</td>
                <td>{{ pet.breed }}</td>
                <td>{{ pet.birth }}</td>
                <td><a class="btn btn-default btn-xs" href='./pet/{{ pet.id }}/edit' role="button">Edit</a><br></td>
                </tr>
                {% endfor %}

        </table>
    {% else %}
        You don't have any pets.
    {% endif %}
{% else %}
    <h2>To manage your pets, first login.</h2>
{% endif %}
